Public class Dados
  {
    public string Posicao{get;set;}
    public string Codigo{get;set;}
    public string Piloto{get;set;}
	  public string Voltas{get;set;}
	  public string Tempo{get;set;}
  }  
dadosLidos = new List<Dados>();      
arquivo = new System.IO.StreamReader("log.txt");
string linha = "";
while (true)
      {
        linha = arquivo.ReadLine();
        if (linha != null)
        {
          string[] DadosColetados = linha.Split(' ');
          dadosLidos.Add(new Dados { Posicao = DadosColetados[2], Codigo = DadosColetados[3], Piloto = DadosColetados[4], Voltas = DadosColetados[5], Tempo = DadosColetados[6] });
        }
        else
          break;
      }
      GridView1.DataSource = dadosLidos;
      GridView1.DataBind();
